*{
  box-sizing: border-box;

}

/*Begin Nav-css*/
nav{
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 15px;
}


nav a{
  text-decoration: none;
  font-size: 14px;
  margin: 0.5rem;
  color: grey;
  transition: all 0.6s;

}

nav a:hover{
  color: black;
  text-decoration:underline;
}

.nav_logo{
  font-size: 20px;
}


/*End Nav-css*/


body {
  font-family: sans-serif;
  padding: 1rem;
}



.homeContainer{
  display: flex;
  flex-wrap: wrap;
}

.homeContainer img{
  width: 100%;
  
}

.homeMainPartImg{
  border:1px solid black;
  border-bottom: none;
  width: 100%;
  position: relative;
  height: 40vw;
}
.homeMainPartImg>div{
	position: absolute;
	display: none;
}
.homeMainPartImg>div.carousel-arrows{
	display: block;
}
.homeMainPartImg>div img{
	width:100%;
}

.carousel-arrows{
	width:100%;
	height:100%;

}

.carousel-arrows a{
	color:white;
	font-size:40pt;
	text-decoration:none;
	font-weight:bold;
}

.carousel-arrows>a:nth-of-type(1){
	position: absolute;
	top:35%;
	left:2%;
	z-index: 2;
}

.carousel-arrows>a:nth-of-type(2){
	position: absolute;
	top:35%;
	right:2%;
	z-index: 2;
}

.homeMainPart2{
  border:1px solid black;
  width: 100%;
  border-top: none;


  
}


.homeMainPart2Img{
  max-width: 1000px;
  width: 90%;
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;

  margin-left:5%;
  margin:auto;
}

.dropImg1{
    border:1px solid #bebebe;
  width: 250px;
  height: 250px;
  margin:auto ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*@media only screen and (max-width: 1000px){
      .dropImg1{
      border:1px solid black;
      width: 33%;
      height: 250px;
      
    }
}

@media only screen and (max-width: 500px){
      .dropImg1{
      border:1px solid black;
      width: 50%;
      height: 250px;
      
    }
}
*/


.dropImg1 img{
  width: 100%;
}

/*.dropImg4{
  border:1px solid black;
  width: 250px;
  height: 250px;
}*/

.homeMainPart2Content h2{
  margin-left: 5%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: normal;
}

.homeMainPart2Button{
  margin-top: 50px; 
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 10%;
  font-size: 12px;

}

.button-shop-all{
  border:1px solid black;
  background-color: white;
  display: inline-block;
  padding: 1em 4em;
  color: black;
  text-decoration: none;
  transition: all 0.6s;
}

.button-shop-all:hover{
  color: white;
  background-color:black;
}

.shop_all_container{
	max-width:1000px;
	margin:auto;
	
	
}

.homeMainPart3{
  border:1px solid black;
  width: 100%;
  border-top: none;
}

.homeMainPart3Content h2{
  margin-left: 5%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: normal;
}

/*.footer{
  border:1px solid black;
  height: 300px;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerLeft{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;
}

.footerCenter{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;
}

.footerRight{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;

}*/

.footer-top{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: space-around;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}


.footer-bottom-left{
  display: flex;
  flex:wrap;
}

.footer-bottom-icon{
  margin-right: 1em;
}


.footer-bottom-icon{
  
  
}

.shop_all_products{
  display: flex;
  flex-wrap: wrap;
  

  
}
.productImg1 img{
	width: 150px;
	height: 150px;

}
.productImg1{
  border:1px solid #bebebe;
  width: 250px;
  height: 250px;
  margin:auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.productImg1 p{
	position: absolute;
	z-index: 1;
	top:180px;
	font-size: 12px;
	font-family: 'Arimo', sans-serif;
}
.shop_all_container h2{
	font-weight: normal;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
}

.mainPart_top{
  border:1px solid black;
  width: 100%;
  margin-bottom: 2em;
}

.top_1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.top_1 h3{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Arimo', sans-serif;
}

.top_1 p{
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

.top_2{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
}

.top_2 p{
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

.mainPart_bottom{
  border:1px solid black;
  width: 100%;
}

.bottom_1 h2{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Arimo', sans-serif;
}

.bottom_1 p{
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

.top_3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
}

.top_3 p{
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

.bottom_1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.bottom_3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}



.bottom_3_boarder{
  border:1px solid black;
  width: 100px;
  height:100px;
}
.product-container{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  border:1px solid black;
}

.product-left{
  width: 50%;
  border:1px solid black;
  height:550px;
  overflow: scroll;
}

.product-left img{
  width: 100%;
  padding: 5em;

}

.product-right{
  width:50%;
  border:1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-item{
  display:flex;
  flex-wrap: wrap;
  margin:2em;
  width:100%;
}
@media only screen and (max-width: 1000px){
	.product-left{
		width: 100%;
	}
	.product-right{
		width: 100%;
	}
	.product-right-bottom{
		margin-bottom:40px;
	}

    
}

.product-right h3{
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
  color:black; 
  margin-bottom: 5em;
}

.product-right a{
  font-family: 'Arimo', sans-serif;
  font-size:12px;
  font-weight: normal;
  border:1px solid black;
  padding: 1em 4em;
  text-decoration: none;
  color: black;
  transition: all 0.6s;
}

.product-right a:hover{
  background-color: black;
  color: white;
}

.prodcut-review{
  border: 1px solid black;
  margin:2em;

}
.product-review h3{
	font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}

.review-bottom1 h3{
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}
.review-bottom1 p{
	font-family: 'Arimo', sans-serif;
  font-size:14px;
  font-weight: normal;
}
.review-bottom{
  border:1px solid black;
  width:70%;
  height: 400px;
  overflow: scroll;
  margin: auto;
  margin-top:2em;
  margin-bottom: 10em;
  text-align: center;
}

.checkOut_Main p{
  font-family: 'Arimo', sans-serif;
  font-size:12px;
  font-weight: normal;
}
.checkOut_Main h3{
  font-family: 'Arimo', sans-serif;
  font-size:14px;
  font-weight: normal;
}

.checkOut_Main h2{
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}

.checkOut_Main{
  border:1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.check_out_Main_left{
  
  width: 45%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
 
}

.check_out_Main_right{
  border:1px solid black;
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}


.check_out_left_1{

  width: 100%;
 
  margin: auto;
  display: flex;
}
.check_out_left_1_L{
  width:30%;
}
.check_out_left_1_L img{
  width:80%;
}

.check_out_left_2{
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  display: flex;
}
.check_out_left_2_L{
  width:30%;
}
.check_out_left_2_L img{
  width:80%;
}

.check_out_left_bottom{
  
  margin:auto;
  margin-top: 10%;
  width:80%;
  display: flex;
  justify-content: space-between;
}

.check_out_Main_right h2{
  text-align:center;
}

.paymentPart2{
  margin-left: 5%;
}

.input-info{
  width: 90%;
  padding: 0.5em 0;
}

.paypal_class{
  display: flex;
}

.paypal{
  
  width: 10%;
  margin-left: 5%;
  margin-top: 5%;
}
.paypal i{
  font-size: 30px;
}


.btn-submit, .btn-reset{
  background-color: white;
  padding: 1em 4em;
  color: black;
  border-radius: 0.25em;
  text-decoration: none;
  transition: all 0.6s;
  
}



.btn-submit:hover, .btn-reset:hover{
  color:white;
  background-color:black;
}

.contact-us-main{
  display: flex;
  flex-wrap: wrap;
}

.contact-us-left{
  border:1px solid #bebebe;
  width: 50%;
}

.contact-us-right{
  border:1px solid #bebebe;
  width: 50%;
}

.contact-us-right-1{
 width: 90%;
 margin:auto;

}

.contact-us-right-1 h2{
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}


.contact-us-right-1>div{
  text-align:center;
  margin-top:10px;
  margin-bottom: 15px;
}
.check-out-submit{
  text-align:center;
  margin-top:30px;
  margin-bottom: 15px;
}
.contact-us-right-1 h3{
  font-family: 'Arimo', sans-serif;
  font-size:14px;
  font-weight: normal;
}

.contact-us-input{
  width: 100%;
  padding: 8px 5px;
}

.contact-us-input-description{
  width: 100%;
  height: 100px;
  padding: 8px 5px;
}

.contact-us-right-2{
  border:1px solid black;
  width:100%;

}

textarea{
  color:#bebebe;
}

@media only screen and (max-width: 1000px){
  .contact-us-left{
    width:100%;
    height:500px;
  }
  .contact-us-right{
    width:100%;
  }

  .check_out_Main_left{
    width:90%;
  }
  .check_out_Main_right{
    width:90%;
  }
}

footer h3{
  font-family: 'Arimo', sans-serif;
  font-size:14px;
}

footer p{
  font-family: 'Arimo', sans-serif;
  font-size:12px;
  font-weight: normal;
}

/*Menu Display*/
.Menu-Hambuger{
  display: none;
  font-size: 20px;
}

.Menu-Hambuger i{
  color: black;
}

.search-icon{
  font-size: 16px;
  font-weight: normal;
}

.menuInput{
  display: none;
  margin-top: 10px;
  text-align: right;
  padding: 0.5em 0;
}


@media only screen and (max-width: 600px){
	body{
		overflow-x: hidden;
	}
  .Menu-Hambuger{
    display: block;
  }

  .nav_left{
    display: none;
  }

  nav{
    background-color: white;
    border:1px solid black;
    position: absolute;
    top: 63px;
    width: 50%;
    height: 100%;
    left: -100%;
    min-width: 375px;
    z-index: 3;
  }

  nav a{
    display: block;
    color: black;
    padding: 5px;
    margin-top: 20px;
  }

  .search-icon{
    display:none;
  }

  .footerLeft{
    width:100%;
  }
  .footerCenter{
    width:100%;
  }
  .footerRight{
    width:100%;
  }
  .footer-top{
    text-align: center;
  }


}

.shoe-size{
  margin-bottom:90px;
  text-align: center;
}

.shoe-size button{
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: all .5s;
}
.shoe-size button:hover,
.shoe-size button:active,
.shoe-size button:focus {
  border: 2px solid black;
  outline: none;
}

.contact-us-left>iframe{
	width:100%; 
	height: 100%;
	border:0 
}



/*Log In Css*/

.log-in-main{
  display: flex;
  flex-wrap: wrap;
}

.log-in-left{
  border:1px solid #bebebe;
  width: 50%;
  height: 400px;
  overflow: scroll;
}

.log-in-left img{
  width: 100%;
}

.log-in-right{
  border:1px solid #bebebe;
  width: 50%;
}

.log-in-right-1{
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
}

.log-in-right-1 h2{
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}

.forget-password{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.forget-password a{
  text-decoration: none;
  color: black;
  margin-top: 10px;

}


.log-in-right-1>div{
  text-align:center;
  margin-top:10px;
  margin-bottom: 15px;
}
.check-out-submit{
  text-align:center;
  margin-top:30px;
  margin-bottom: 15px;
}
.log-in-right-1 h3{
  font-family: 'Arimo', sans-serif;
  font-size:14px;
  font-weight: normal;
}

.log-in-input{
  width: 100%;
  padding: 8px 5px;
}

.log-in-input-description{
  width: 100%;
  height: 100px;
  padding: 8px 5px;
}

.clog-in-right-2{
  border:1px solid black;
  width:100%;

}

@media only screen and (max-width: 1000px){
  .log-in-left{
    width:100%;
    height:500px;
  }
  .log-in-right{
    width:100%;
  }
  /*.log-in-right-1{
    margin-top: 15%;
  }*/
}

.log-in-left>iframe{
  width:100%; 
  height: 100%;
  border:0 
}


/*Sign Up Css*/


.sign-up-main{
  display: flex;
  flex-wrap: wrap;
}

.sign-up-left{
  border:1px solid #bebebe;
  width: 50%;
  height: 450px;
  overflow: scroll;
}

.sign-up-left img{
  width: 100%;
}

.sign-up-right{
  border:1px solid #bebebe;
  width: 50%;
}

.sign-up-right-1{
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
}

.sign-up-right-1 h2{
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size:18px;
  font-weight: normal;
}


.sign-up-right-1>div{
  text-align:center;
  margin-top:10px;
  margin-bottom: 15px;
}
.check-out-submit{
  text-align:center;
  margin-top:30px;
  margin-bottom: 15px;
}
.sign-up-right-1 h3{
  font-family: 'Arimo', sans-serif;
  font-size:14px;
  font-weight: normal;
}

.sign-up-input{
  width: 100%;
  padding: 8px 5px;
}

.sign-up-input-description{
  width: 100%;
  height: 100px;
  padding: 8px 5px;
}

.sign-up-right-2{
  border:1px solid black;
  width:100%;

}

@media only screen and (max-width: 1000px){
  .sign-up-left{
    width:100%;
    height:500px;
  }
  .sign-up-right{
    width:100%;
  }
  /*.log-in-right-1{
    margin-top: 15%;
  }*/
}

.sign-up-left>iframe{
  width:100%; 
  height: 100%;
  border:0 
}

.review-overall-1{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #bebebe;
}

.review-overall-1 p{
  font-family: 'Arimo', sans-serif;
  font-size:12px;
}

.review-overall-2{
  border-bottom: 1px solid #bebebe;
}

.review-overall-2-left{
  width: 30%;
}

.review-overall-2-right{
  width: 70%;
}

.review-overall-2{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}


.review-overall-2-right-top{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about_us_img{
  width: 50%;
}

.about_us_img img{
  width: 50%;
  border-radius: 50%;
}

.bottom_3 p{
  font-size: 12px;
}









