*{
  box-sizing: border-box;

}

/*Begin Nav-css*/
nav{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.7rem;


}

nav a{
  text-decoration: none;
  font-size: 12px;
  margin: 0.5rem;
  color: grey;
  transition: all 0.6s;
}

nav a:hover{
  color: black;
  text-decoration:underline;
}

.nav_logo{
  font-size: 20px;
}


/*End Nav-css*/


body {
  font-family: sans-serif;
  padding: 2rem;
}


.homeContainer{
  display: flex;
  flex-wrap: wrap;
}

.homeMainPartImg{
  border:1px solid black;
  width: 100%;
  height: 600px;
}

.homeMainPart2{
  border:1px solid black;
  width: 100%;
  border-top: none;
}

.homeMainPart2Img{

  width: 90%;
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;

  margin-left:5%;
}

.dropImg1{
  border:1px solid black;
  width: 25%;
  height: 250px;
  
}

@media only screen and (max-width: 1000px){
      .dropImg1{
      border:1px solid black;
      width: 33%;
      height: 250px;
      
    }
}

@media only screen and (max-width: 500px){
      .dropImg1{
      border:1px solid black;
      width: 50%;
      height: 250px;
      
    }
}


.dropImg1 img{
  width: 100%;
}

/*.dropImg4{
  border:1px solid black;
  width: 250px;
  height: 250px;
}*/

.homeMainPart2Content h2{
  margin-left: 5%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: normal;
}

.homeMainPart2Button{
  margin-top: 50px; 
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 10%;
  font-size: 12px;

}

.button-shop-all{
  border:1px solid black;
  background-color: white;
  display: inline-block;
  padding: 1em 4em;
  color: black;
  text-decoration: none;
  transition: all 0.6s;
}

.button-shop-all:hover{
  color: white;
  background-color:black;
}

.homeMainPart3{
  border:1px solid black;
  width: 100%;
  border-top: none;
}

.homeMainPart3Content h2{
  margin-left: 5%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: normal;
}

/*.footer{
  border:1px solid black;
  height: 300px;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerLeft{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;
}

.footerCenter{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;
}

.footerRight{
  border:1px solid black;
  height: 150px;
  width: 150px;
  margin-top: 5%;

}*/

.footer-top{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: space-around;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}


.footer-bottom-left{
  display: flex;
}

.footer-bottom-icon{
  margin-right: 1em;
}


.footer-bottom-icon{
  border:1px solid black;
  width: 20px;
  height:20px;
}

.shop_all_products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10%;
}
.productImg1{
  border:1px solid black;
  width: 250px;
  height: 250px;
}

.mainPart_top{
  border:1px solid black;
  width: 100%;
  margin-bottom: 2em;
}

.top_1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.top_1 h2{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Crimson Text', serif;
}

.top_1 p{
  font-size: 12px;
  font-family: 'Crimson Text', serif;
}

.top_2{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
}

.top_2 p{
  font-size: 12px;
  font-family: 'Crimson Text', serif;
}

.mainPart_bottom{
  border:1px solid black;
  width: 100%;
}

.bottom_1 h2{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Crimson Text', serif;
}

.bottom_1 p{
  font-size: 12px;
  font-family: 'Crimson Text', serif;
}

.top_3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
}

.top_3 p{
  font-size: 12px;
  font-family: 'Crimson Text', serif;
}

.bottom_1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.bottom_3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 10em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}



.bottom_3_boarder{
  border:1px solid black;
  width: 100px;
  height:100px;
}


